#invitation {
	.invitation-bg {
		background: bg-img-dark-overlay('../img/invitation-background.jpg') center
			center no-repeat;
		background-size: cover;
	}
}

#takeaways {
	.card {
		border: 3px solid transparent;
		transition: all 0.5s ease-in-out;

		&:hover {
			background-color: $primary !important;
			color: var(--bs-dark) !important;
			border: 3px solid var(--bs-dark) !important;

			i {
				color: var(--bs-dark) !important;
			}
		}
	}
}
